/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('bb.avif') center/cover no-repeat;
    background-size: 100%; 
}
.header {
    text-align: center;
    padding: 20px;
}

.header h1 {
    margin: 0;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-card {
    box-sizing: border-box;
    width: 25%;
    padding: 10px;
    display: flex;
}

.image-container {
    flex: 1;
}

.image-container img {
    width: 100%;
    height: auto;
}

.description-container {
    flex: 1;
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.image-description {
    font-size: 18px;
    margin: 0;
}
